@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  
@font-face {
    font-family: 'android';
    src:url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #35c978;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif, cursive;
    --fonte-android: 'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-color: var(--cor4);
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);

}

header > p {

    color: white;
}

nav {
    background-color: var(--cor5);

}

main {

    background-color:white;

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);

}

main h2 {
    font-family: var(--fonte-android);
}

footer {
    background-color: var(--cor5);
}