@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  
@font-face {
    font-family: 'android';
    src:url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #35c978;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif, cursive;
    --fonte-android: 'android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
   
}

a.externo::after{
    content: '\00A0\1F517'; /*links externos com sinbolos diferentes */
}



header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;   /* altura min */
    text-align: center;
    padding-top: 40px;
  
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.233);  /*sombra de fundo*/

     /* margin-top: 30px;  nao deu vaza do header */

}

header > p {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.2em;
    color: white;
    max-width: 600px; /*largura max*/
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.192);
}

nav {                                       /*nav- menu*/

    background-color: var(--cor5);  
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.175);
    margin: auto;

}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;    /* tempo hover */

}

nav > a:hover {                    /*hover mudar cor do menu ao passar mouse*/
    background-color: var(--cor3);
    color: var(--cor5);


}

main {
    
    max-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.417);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /* bordas arredondadas na parte inferior */

}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent); /*degrade */
    text-indent: 8px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;     /*recuo inicio de paragrafo*/
    font-size: 1em;
    line-height: 2em;       /*altura da linha / 1em espaço entre linha */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}
    

main a {
    text-decoration: none;
    font-weight: var(--cor5);
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color:var(--cor4);
}



main img{
    width: 100%;

}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);

}

aside > ul {
    list-style-type: '\2714\00A0\00A0';     /* modificar ponto de ul \2714 e 00a0 para dar espaço entre simbolo e num (NBSP ESPAÇO SEM QUEBRA) CMP GOOGLE CHROME     */
    list-style-position: inside;          /* pontos ul para dentro* /
    columns: 2;                          /* dividir colunas do ul */

}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {    
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}